body {
    background-image: url("space.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #000;
    
}

.login-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    width: 380px;
    padding: 40px 35px;
    background: rgba(255, 255, 255, 0.07);
    border-radius: 18px;
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 
        0 0 10px rgba(255, 215, 0, 0.4),
        0 0 25px rgba(255, 215, 0, 0.3);
    text-align: center;
}

.login-box h2 {
    color: #ffe066;
    font-size: 28px;
    margin-bottom: 25px;
    text-shadow: 0 0 10px #ffd700, 0 0 25px #ffea00;
}

.input-group {
    width: 100%;
    position: relative;
}

.input-group .icon {
    position: absolute;
    right: 12px;            
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #11100c;
    pointer-events: none;
}

.input-group input {
    width: 100%;
    padding: 14px;
    padding-right: 40px;      
    margin: 12px 0;
    border: none;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    color: #ffd900;
    font-size: 15px;
    box-shadow: 0 0 8px #ffea00;
    outline: none;
    box-sizing: border-box;
}

.input-group input:focus {
    box-shadow: 0 0 15px #ffd700, 0 0 30px #ffea00;
}

/* CSS para kung wrong naay message mo gawas na color red */
.error-message {

    color: #ff0000; 
    font-size: 0.9em; 
    display: none; 
    margin-top: -5px; 
    margin-bottom: 15px; 
    padding-left: 20px; 
    font-weight: 500;
}

.options {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #ffd900;
}

.options a {
    color: #ffd700;
    text-decoration: none;
}

.options a:hover {
    text-shadow: 0 0 8px #ffe066;
}

.login-btn {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 20px;
    background: #ffd700;
    color: #050404;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 0 10px #ffd700, 0 0 20px #ffea00;
    transition: 0.3s;
}

.login-btn:hover {
    box-shadow: 0 0 20px #ffea00, 0 0 40px #ffd700;
}

.register-text {
    margin-top: 15px;
    font-size: 13px;
    color: #000000;
}

.register-text a {
    color: #000000;
    text-decoration: none;
}

.register-text a:hover {
    text-shadow: 0 0 8px #0019f7;
}
